#### video record ####
DEMO_FRONTEND_URL=http://192.168.56.105:3000
DEMO_HEADLESS=false
DEMO_EXTERNAL_RECORDING_MODE=false
DEMO_RECORD_VIDEO=true
DEMO_FULLSCREEN=false
DEMO_START_DELAY_MS=5000

DEMO_SPEED=normal
DEMO_SPEED_MULTIPLIER=0.8

DEMO_VIDEO_WIDTH=2560
DEMO_VIDEO_HEIGHT=1440

DEMO_CAPTION_MIN_MS=1000
DEMO_CAPTION_MAX_MS=3000
DEMO_CAPTION_PER_CHAR_MS=25

DEMO_PAGE_MIN_MS=1000
DEMO_PAGE_MAX_MS=2500

DEMO_CLICK_PAUSE_MS=500
DEMO_HOVER_PAUSE_MS=400
DEMO_FILTER_PAUSE_MS=800
DEMO_RANGE_PAUSE_MS=800
DEMO_SECTION_PAUSE_MS=1000

DEMO_SCROLL_MIN_MS=600
DEMO_SCROLL_MAX_MS=1500

DEMO_GENERATE_REPORT=true
DEMO_REPORT_TIMEOUT_MS=90000

DEMO_START_THEME=light
DEMO_SWITCH_TO_DARK_AFTER_LOGIN=true
DEMO_ROLES_THEME=dark
